.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgb(237, 237, 237);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid #cfcdcd;
    // box-shadow: 2px 4px 4px 2px rgb(135, 135, 136);
    top:62px;
    left:82px;
}

.sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e2e2;
    padding:4px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgb(11, 10, 10);
}
.sortBtn{
    background-color: none;
    background: none;
    font-size: 12px;
    border:none;
}   
.sortBtn:hover{
    transform: scale(1.4);
    border: none;
}